<h1>Lists</h1>

<div class="card" style="width: 18rem;">
  <% @lists.each do |list| %>
    <%= cl_image_tag list.photo.key, width: 400, height: 300, crop: :fill %>
    <div class="card-body">
      <h5 class="card-title"><%= list.name %></h5>
    </div>
    <%= link_to 'Delete', list_path(list), method: :delete, data: { confirmation: 'Are you sure?'}, class: 'card-remove-link' %>
  <% end %>
</div>

<%= link_to 'Add a list', new_list_path %>


